<div class="whoAmITittle fontFamily" style="text-align: left">{{whoAmITittle}}</div>
<div class="whoAmI fontFamily" style="text-align: left;">
	<h4>Formación :</h4>
	<p>Graduada en Psicología por la Universidad de Sevilla.</p>
	<p>Master en Autismo y trastornos en el desarrollo.</p>
	<p>Formación ABA /Análisis de conducta.</p>
	<p>Especializada en:</p>
	<ul>
		<li>Atención Temprana</li>
		<li>Trastornos en el desarrollo</li>
		<ul>
     		<li>Trastorno del espectro autista(TEA)</li>
     		<li>Trastorno Específico del Lenguaje(TEL)</li>
    	</ul>
		<li>Problemas  de Comunicación y Lenguaje.</li>
		<li>Problemas de Conducta</li>
		<li>Formación  a Padres</li>
		<li>Técnicas de Estudio</li>
	</ul>
	
</div>
