
<!-- contact form -->
<div class="container" style="margin-top: 3em;    font-family: 'Open Sans', sans-serif;">
  <div class="row">
    <div class="col-sm">
     <span style="text-align: center;">Contáctame </span>
<form id="ajax-contact" method="post" action="mailer.php">
    <div class="field">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
    </div>

    <div class="field">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
    </div>

    <div class="field">
        <label for="message">Message:</label>
        <textarea id="message" name="message" required></textarea>
    </div>

    <div class="field">
        <button type="submit">Send</button>
    </div>
</form>
    </div>

    <div class="col-sm">
    	<span style="text-align: center;">Datos de contacto</span>
    	<div style="margin-top: 2em; -webkit-box-shadow: 10px 10px 58px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 58px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 58px 0px rgba(0,0,0,0.75);    padding: 3em; background-color: #60B7DA">
    		<p>Teléfono: <span>+34 651478965</span></p>
    		<p>Email: <span>rociojimenez@gmail.com</span></p>

    	</div>
    </div>
  </div>
</div>